body{
    font-family: 'Bitter', serif;
}
h1{
    font-size: 50px;
}
.namehighlight{
    color: yellowgreen;
}
.half-width{
        width: 40%;
        float: left;
       
}
.half-width img{
    width: 100%;
}